{#
/**
 * @file commerce-product-reminder-mail.html.twig
 * Default theme implementation for a Reminder mail.
 *
 * This template is used when sending an email Reminder.
 *
 * Available variables:
 *   - body: The content configurable in the settings form
 *   - manage_url: the URL to allow visitor to unsubscribe to the Reminder.
 *   - product_variation : The product variation entity which generated the mail.
 *
 * @ingroup themeable
 */
#}
<div class="email__body">
  {{ body }}
</div>

<div class="email__confirm" style="margin: 20px 0;">
  <a href="{{ confirm_url }}">{{ 'Confirm your subscription'|t }}</a>.
</div>

{% if manage_url %}
  <div class="email__footer" style="font-size:12px; margin: 20px 0; font-style: italic">
    {% trans %}You received this email because you have subscribed for this notification. If you don't want anymore emails, you can <a href="{{ manage_url }}">unsubscribe</a>.{% endtrans %}
  </div>
{% endif %}

