{#
/**
 * @file commerce_product_reminder.html.twig
 * Default theme implementation to present Reminder data.
 *
 * This template is used when viewing Reminder entities.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_reminder()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('commerce-product-reminder') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
